@page "/Logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager
@layout Layouts.LoginLayout



<PageTitle>@_iLanguageHelper.GetText("Logout")</PageTitle>

    <div class="container py-5">
        <p>@_iLanguageHelper.GetText("QuestionLogout")</p>

    <div class="mt-3 ">
        <button @onclick="LogoutUser" class="btn btn-danger ">
            @_iLanguageHelper.GetText("Logout")
        </button>
    </div>
</div>
@code {

    [CascadingParameter] public HttpContext httpcontext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (httpcontext != null)
            await httpcontext.SignOutAsync();
        navigationManager.NavigateTo("/", true, true);
    }

    private void LogoutUser()
    {
        navigationManager.NavigateTo("/Logout", true, true);
    }
}