@inherits LayoutComponentBase
<div class="page">
    <main>
        <article class=" px-4">
            @Body
        </article>
        <div class="fixed-bottom   bg-light ">
            <p class=" p-2"> @(_iLanguageHelper.GetText("AppFotter"))</p>
        </div>
    </main>
</div>